.sidebar[data-color="purple"]:after{
    background:linear-gradient(to bottom, #3d02b3 0%, #3c0275 100%);
}
.btn-success{
    background: green;
    color: white;
    border: none;
    border:1px solid green;
}
.btn-warning{    
    background: orange;
    border: none;
    color: white;
    border:1px solid orange;
}

.btn-warning:hover {
   border:1px solid orange;
}

.btn-success:hover {
   border:1px solid green;
}
